{% extends "base.html" %}

{% block title %} Vacina Paulistana{% endblock %}

{% block content %}
<body>
<div class="row">
    <div class="card green">
        <h>Total de Casos no estado de {{dados_covid.state}}</h>

        <p>{{dados_covid.cases}}</p>

    </div>
    <div class="card red">
        <h>Total de Mortes</h>
        <p>{{dados_covid.deaths}}</p>

    </div>
    <div class="card blue">
        <h>Casos Suspeitos</h>
        <p>{{dados_covid.suspects}}</p>

    </div>

    <div class="card black">
        <h>Atualizado em:</h>
        <p><small>{{dados_covid.datetime|date:"d/m/Y H:i:s"}}</small</p>

    </div>

</div>



</body>
</html>


{% endblock  %}