{% extends "base.html" %}

{% block title %}vacinas{% endblock %}

{% block content %}

<html>
<body>

<div class="row">
    {% csrf_token %}
    <div>      <!-- Page Content -->
        <div align="center">
            <form action="">
                <legend><strong>Selecione a Data de Nascimento</strong></legend>
                <input type="date" name="data_de_nascimento"><br/><br/>
                <input type="submit" value="Calcular">
            </form>
            {{dados_sql3|safe}}
        </div>
    </div>
</div>
</body>
</html>
{% endblock  %}