

{% extends "base.html" %}

{% block title %}vacinas e prazos{% endblock %}

{% block content %}
<body>
<h2>{{ vacin }}</h2>
<table class="TbCalendarioVacina">
  <thead>
    <tr>


      <th>Vacina   </th>
      <th>Meses    </th>
      <th>Observações   </th>

    </tr>
  </thead>
    <tbody>
    {% for vac in vac %}
    <tr>

      <td> {{ vac.descricao_vacina }}</td>
      <td> {{ vac.meses }}</td>
      <td> {{ vac.observacao }}</td>
    </tr>
    {% endfor%}
    </tbody>
</table>
<tr>

    <p></p>

</body>
{% endblock  %}