

{% extends "base.html" %}

{% block title %}vacinas{% endblock %}

{% block content %}
<body>
<h2 align = "center">{{ vacin }}</h2>
<table class="Tadela_vacinas" align = "center" >
  <thead>
    <tr>


      <th>Vacina   </th>
      <th>Meses    </th>
      <th>Data Prevista   </th>
      <th>Observações   </th>
    </tr>
  </thead>
    <tbody>
    {% for vac in vac %}
    <tr>

      <td> {{ vac.descricao_vacina }}</td>
      <td> {{ vac.meses }}</td>
      <td> {{ vac.previsao }}</td>
      <td> {{ vac.observacao }}</td>
    </tr>
    {% endfor%}
    </tbody>
</table>
<tr>

    <p></p>

</body>
{% endblock  %}